modules = ["nodejs-20"]
run = "npm run build && npm start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run build && npm start"]
deploymentTarget = "autoscale"

[[ports]]
localPort = 5000
externalPort = 80
